rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  	
    // === PLAYERS COLLECTION ===
    match /players/{document=**} {
      allow read: if true; // anyone can see nicknames (temporary)
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}